* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-logo p {
  color: red;
  
.syoukai a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
    
.syoukai {
  float: right;
  margin-right: -25px;
}    

.container h1 {
  border-bottom: 1px solid #dee7ec
